page-home {

	#div-button-add-item{
		padding-top: 45px;
	}

	.label{
		overflow: hidden;
		text-overflow: ellipsis;
		color: #488aff;
		padding-top: 20px;
		font-size: 18px;
	}

	.label-icon{
		padding-top: 10px;
	}

}
